{% load admin_static %}{% load url from future %}{% load i18n grp_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    <!-- STYLESHEETS -->
    {% block stylesheets %}
        <link href="{% static "grappelli/jquery/ui/css/custom-theme/jquery-ui-1.8.18.custom.css" %}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{% static "grappelli/stylesheets/screen.css" %}" rel="stylesheet" type="text/css" media="screen" />
        {% if LANGUAGE_BIDI %}
            <link href="{% static "grappelli/stylesheets/mueller/grid/output-rtl.css" %}" rel="stylesheet" type="text/css" media="screen" />
            <link href="{% block stylesheet_rtl %}{% static "grappelli/stylesheets/rtl.css" %}{% endblock %}" rel="stylesheet" type="text/css" media="screen" />
        {% else %}
            <link href="{% static "grappelli/stylesheets/mueller/grid/output.css" %}" rel="stylesheet" type="text/css" media="screen" />
        {% endif %}
    {% endblock %}
    <!-- EXTRASTYLES -->
    {% block extrastyle %}{% endblock %}
    <!-- JAVASCRIPTS -->
    {% block javascripts %}
        <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "grappelli/" %}{% endfilter %}";</script>
        <script type="text/javascript" charset="utf-8">
            // GLOBALS
            var grappelli = {},
                ADMIN_URL = "{% url 'admin:index' %}",
                MODEL_URL_ARRAY = {% get_content_types %},
                DATE_FORMAT = "{% get_date_format %}",
                TIME_FORMAT = "{% get_time_format %}",
                DATETIME_FORMAT = "{% get_datetime_format %}";
        </script>
        <!-- jQuery, jQuery-UI -->
        <script src="{% static "grappelli/jquery/jquery-1.7.2.min.js" %}" type="text/javascript"></script>
        <script src="{% static "grappelli/jquery/ui/js/jquery-ui-1.8.18.custom.min.js" %}" type="text/javascript"></script>
        {% if debug %}
            <!-- Grappelli Main JS -->
            <script src="{% static "grappelli/js/grappelli.js" %}" type="text/javascript"></script>
            <!-- Grappelli jQuery Plugins, Widgets -->
            <script src="{% static "grappelli/js/jquery.grp_collapsible.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_collapsible_group.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_timepicker.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_related_fk.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_related_m2m.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_related_generic.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_autocomplete_fk.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_autocomplete_m2m.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_autocomplete_generic.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_inline.js" %}" type="text/javascript"></script>
        {% else %}
            <!-- Grappelli Minified -->
            <script src="{% static "grappelli/js/grappelli.min.js" %}" type="text/javascript"></script>
        {% endif %}
        <script type="text/javascript" charset="utf-8">
            (function($) {
                $(document).ready(function() {
                    $("#grp-navigation .grp-collapse").grp_collapsible();
                });
            })(grp.jQuery);
        </script>
    {% endblock %}
    <!-- EXTRAHEAD -->
    {% block extrahead %}{% endblock %}
</head>
<body class="{% if is_popup %}grp-popup {% endif %}{% block bodyclass %}{% endblock %}{% if LANGUAGE_BIDI %} rtl{% endif %}">
    <div id="grp-container">

        <!-- HEADER -->
        <header id="grp-header" class="{% block header-class %}{% endblock %}">
            {% if not is_popup %}
                <!-- NAVIGATION -->
{% load i18n grp_tags %}{% load url from future %}

<div id="grp-navigation">
        {% load admin_urls %}
	<h1 id="grp-admin-title"><img src="{{ STATIC_URL }}/images/logo-updatengine-21.svg" alt="updatengine logo"></h1>
    {% if user.is_authenticated and user.is_staff %}
        <ul id="grp-user-tools">
            <!-- inventory -->
            {% if perms.inventory %}
            <li class="grp-user-options-container grp-collapse grp-closed">
                <a href="javascript://" class="user-options-handler grp-collapse-handler">Inventory</a>
                <ul class="grp-user-options">
                    {% if perms.inventory.change_machine %}
                        {%url 'admin:inventory_machine_changelist' as machine_url %}
                        <li><a href="{{ machine_url }}">{% trans 'machine|machines'|capfirst %}</a></li>
                    {% endif %}
                    {% if perms.inventory.change_entity %}
                        {%url 'admin:inventory_entity_changelist' as entity_url %}
                        <li><a href="{{ entity_url }}">{% trans 'entity|entities'|capfirst %}</a></li>
                    {% endif %}
                    {% if perms.inventory.change_software %}
                        {%url 'admin:inventory_software_changelist' as software_url %}
                        <li><a href="{{ software_url }}">{% trans 'software|softwares'|capfirst %}</a></li>
                    {% endif %}
                    {% if perms.inventory.change_net %}
                        {%url 'admin:inventory_net_changelist' as net_url %}
                        <li><a href="{{ net_url }}">{% trans 'net|networks'|capfirst %}</a></li>
                    {% endif %}
                    {% if perms.inventory.change_osdistribution %}
                        {%url 'admin:inventory_osdistribution_changelist' as os_url %}
                        <li><a href="{{ os_url }}">{% trans 'osdistribution|osdistributions'|capfirst %}</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            <!-- deploy -->
            {% if perms.deploy %}
            <li class="grp-user-options-container grp-collapse grp-closed">
                <a href="javascript://" class="user-options-handler grp-collapse-handler">Deploy</a>
                <ul class="grp-user-options">
                    {% if perms.deploy.change_packagehistory %}
                        {%url 'admin:deploy_packagehistory_changelist' as ph_url %}
                        <li><a href="{{ ph_url }}">{% trans 'packagehistory|packages history'|capfirst %}</a></li>
                    {% endif %}
                    {% if perms.deploy.change_package %}
                        {%url 'admin:deploy_package_changelist' as package_url %}
                       <li><a href="{{ package_url }}">{% trans 'package|deployment packages'|capfirst %}</a></li>
                    {% endif %}
                    {% if perms.deploy.change_packagecondition %}
                        {%url 'admin:deploy_packagecondition_changelist' as pc_url %}
                        <li><a href="{{ pc_url }}">{% trans 'packagecondition|packages conditions'|capfirst %}</a></li>
                    {% endif %}
                    {% if perms.deploy.change_packageprofile %}
                        {%url 'admin:deploy_packageprofile_changelist' as pp_url %}
                        <li><a href="{{ pp_url }}">{% trans 'packageprofile|packages profiles'|capfirst %}</a></li>
                    {% endif %}
                    {% if perms.deploy.change_timeprofile %}
                        {%url 'admin:deploy_timeprofile_changelist' as tp_url %}
                        <li><a href="{{ tp_url }}">{% trans 'timeprofile|time profiles'|capfirst %}</a></li>
                    {% endif %}
                    {% if perms.deploy.change_packagewakeonlan %}
                        {%url 'admin:deploy_packagewakeonlan_changelist' as wk_url %}
                        <li><a href="{{ wk_url }}">{% trans 'packagewakeonlan|packages wakeonlan'|capfirst %}</a></li>
                    {% endif %}
                    {% if perms.deploy.change_impex %}
                        {%url 'admin:deploy_impex_changelist' as wk_url %}
                        <li><a href="{{ wk_url }}">{% trans 'impex|impex title'|capfirst %}</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            <!-- conf -->
            {% if perms.configuration %}
            <li class="grp-user-options-container grp-collapse grp-closed">
                <a href="javascript://" class="user-options-handler grp-collapse-handler">Configuration</a>
                <ul class="grp-user-options">
                    {% if perms.configuration.change_deployconfig %}
                        {%url 'admin:configuration_deployconfig_changelist' as deployconfig_url %}
                        <li><a href="{{ deployconfig_url }}">{% trans 'deployconfig|deployconfigs'|capfirst %}</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
	    <!-- Authentification -->
            {% if perms.Auth %}
            <li class="grp-user-options-container grp-collapse grp-closed">
                <a href="javascript://" class="user-options-handler grp-collapse-handler">Auth</a>
                <ul class="grp-user-options">
                {% if perms.Auth.change_group %}
                    {%url 'admin:auth_group_changelist' as group_url %}
                    <li><a href="{{ group_url }}">{% trans 'groups'|capfirst %}</a></li>
		{% endif %}
		{% if perms.Auth.change_user %}
			{%url 'admin:auth_user_changelist' as user_url %}
                	<li><a href="{{ user_url }}">{% trans 'users'|capfirst %}</a></li>
                {% endif %}
		
                </ul>
            </li>
            {% endif %}
	    <!-- Username -->
            <li class="grp-user-options-container grp-collapse grp-closed">
                <a href="javascript://" class="user-options-handler grp-collapse-handler">{% firstof user.first_name user.username %}</a>
                <ul class="grp-user-options">
                    <!-- Change Password -->
                    {% url 'admin:password_change' as password_change_url %}
                    {% if password_change_url %}
                        <li><a href="{{ password_change_url }}">
                    {% else %}
                        <li><a href="{{ root_path }}password_change/">
                    {% endif %}
                    {% trans 'Change password' %}</a></li>
                    <!-- Logout -->
                    {% url 'admin:logout' as logout_url %}
                    {% if logout_url %}
                        <li><a href="{{ logout_url }}">
                    {% else %}
                        <li><a href="{{ root_path }}logout/">
                    {% endif %}
                    {% trans 'Log out' %}</a></li>
                </ul>
            </li>
            <li>
            <ul>
                <li>
                    <a href="http://www.updatengine.com"><small>UpdatEngine Version 2.0.2 stable</small></a>
                </li>
             </ul>
	    </li>
       </ul>
    {% endif %}

    {% block nav-global %}
    {% endblock %}
</div>
                <!-- CONTEXT NAVIGATION -->
                <div id="grp-context-navigation">
                    <nav id="grp-breadcrumbs" class="{% block breadcrumbs-class %}{% endblock %}">
                        <header style="display:none"><h1>Breadcrumbs</h1></header>
                        {% block breadcrumbs %}
                            <ul>
                                <li><a href="/">{% trans 'Home' %}</a></li>
                                {% if title %}
                                    <li> &rsaquo; {{ title }}</li>
                                {% endif %}
                            </ul>
                        {% endblock %}
                    </nav>
                    <nav id="grp-page-tools">
                        <header style="display:none"><h1>Page Tools</h1></header>
                        {% block page-tools %}{% endblock %}
                    </nav>
                </div>
            {% endif %}
        </header>

        <!-- CONTENT -->
        <article id="grp-content" class="{% block content-class %}{% endblock %}">
            
            <!-- MESSAGES -->
            {% if messages %}
                <ul class="grp-messagelist">
                    {% for message in messages %}
                        <li{% if message.tags %} class="grp-{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- CONTENT TITLE -->
            <header id="grp-content-title">
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                {% block object-tools %}{% endblock %}
            </header>

            <!-- CONTENT-CONTAINER -->
            <div id="grp-content-container">
                {% block content %}
                    {{ content }}
                    {% block filters %}{% endblock %}
                {% endblock %}
            </div>

        </article>
        
        <!-- FOOTER -->
        {% block footer %}{% endblock %}

    </div>
</body>
</html>
